<section class="section" [@fadeIn]>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Education</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h3>CHAROTAR UNIVERSITY OF SCIENCE AND TECHNOLOGY</h3>
        <p>Master of Technology - MTech, Computer Engineering · (2016 - 2018)</p>
        <h3>K.J.Institute of Engineering & Technology</h3>
        <p>Bachelor of Engineering - BE, Computer Engineering · (2012 - 2016)</p>
      </mat-card-content>
    </mat-card>
  </section>
  