<section class="section" [@fadeIn]>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Licenses & Certifications</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h3>Microsoft Certified: Azure AI Fundamentals</h3>
        <p>Issued Jun 2024 · Credential ID 50242D2D10B5BDC0</p>
        <h3>Microsoft Certified: Azure Fundamentals</h3>
        <p>Issued Jun 2020 · Expired Jun 2022 · Credential ID FDAF5D5CB66A0037</p>
      </mat-card-content>
    </mat-card>
  </section>
  