<section class="section" [@fadeIn]>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Experience</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h3>Cygnet Infotech</h3>
        <p>Software Technologist - Product Engineering</p>
        <p>May 2022 - Present (2 years 2 months)</p>
        <h3>Civica</h3>
        <p>Software Engineer</p>
        <p>July 2019 - April 2022 (2 years 10 months)</p>
        <h3>SVAAPTA IT-ALLY SOLUTIONS Pvt Ltd</h3>
        <p>Software Developer</p>
        <p>January 2018 - July 2019 (1 year 7 months)</p>
      </mat-card-content>
    </mat-card>
  </section>
  