<section class="section" [@fadeIn]>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Contact</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p><mat-icon>phone</mat-icon> +918238321218 (Mobile)</p>
        <p><mat-icon>email</mat-icon> hardik100nis  gmail.com</p>
        <p><mat-icon>link</mat-icon> <a href="https://www.linkedin.com/in/hardik-soni-62b370140" target="_blank">LinkedIn Profile</a></p>
      </mat-card-content>
    </mat-card>
  </section>
  